@import "./variable.scss";


footer {
    margin-top: 70px;
    padding: 30px;
    background-color: rgb(30, 30, 30);
    color: gray;

    ul{
        margin: 0;
    }
    .items-footer{
        display: flex;
        div:first-child{
            margin-right: 10px;
            font-size: 17px;
        }
        div:nth-child(2){
           ul{
            li:nth-child(1){
                margin-bottom: 7px;
                font-weight: bold;
            }
           }
        }
    }

    #ligne1 {
        display: flex;
        justify-content: space-between;
    }
}