@import "./variable.scss";


footer {
    margin-top: 70px;
    padding: 30px;
    background-color: rgb(31, 31, 38);
    color: gray;

    ul{
        margin: 0;
    }
    .items-footer{
        display: flex;
        div:first-child{
            margin-right: 10px;
            font-size: 17px;
        }
        div:nth-child(2){
           ul{
            li:nth-child(1){
                color: white;
                font-size: 16px;
                margin-bottom: 7px;
                font-weight: bold;
            }
           }
        }

       
    }
     .hrF{
            width: 100%;
            height: 1px;
            background-color: rgba(128, 128, 128, 0.164);
            margin-block: 30px;
        }

    #ligne1 {
        display: flex;
        justify-content: space-between;
    }
}