@import "./variable.scss";





//HEADER

.container {
    padding-inline: 150px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: unset;
}

header{
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;


    div:first-child {
        font-weight: bold;
        font-size: 20px;

        span {
            color:$vert;
        }
    }

    ul {
        display: flex;
        font-weight: bold;
        color: gray;

        li:first-child {
            color: black;
            border-bottom: solid 3px$vert;
        }

        li {
            margin-left: 20px;
            padding-bottom: 5px;
        }

    }

    button {
        background-color:$vert;
        color: white;
        padding: 10px 15px;
        letter-spacing: 1px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
}

#sp1{
    margin-left: 5px;
}