





@media screen and (max-width:769px){
    .container{
        padding-inline: 50px;
    }
    #home{
        flex-direction: column;
        text-align: center;
        img{
            margin-top: 50px;
        }
    }   
    
    

    //ABOUT

    .book{
        flex-direction: column;
        .bookTable{
            width: 100%!important;
        }
        .bookTexte{
            margin-left: 0!important;
            text-align: center;
            margin-top: 30px;
        }
    }
}