@media screen and (max-width:426px) {
    .container {
        padding-inline: 25px !important;
    }

    //HOME

    #home {
        img {
            width: 300px !important;
        }
    }

    //SCORE


    #scoreD{
        flex-direction: column;
        align-items: center;
        div{
            margin-top: 40px;
        }
    }



    //ABOUT

    .bookTable {
        div {
            padding: 2.5px 20px !important;
        }
    }

    .bookTexte {
        font-size: 14px;
    }


    //MENU

    #Menu {
        .carte {
            .items {
                img {
                    width: 200px !important;
                }
            }
        }

    }

    //TESTMONIALS

    #testmonial {
        padding-inline: 20px !important;
        text-align: center;

        #contain-carousel1 {
            height: 500px;

            .flex {
                flex-direction: column !important;
                align-items: center;
            }
        }
    }


    //CHEFS

    #Chefs {
        .carte-chefs {
            div {
                width: 300px !important;
            }
        }
    }

    //BOOK

    .contain-form {
        div:last-child {
            width: 80% !important;

            input {
                width: 80% !important;
                margin-left: 0 !important;
            }
        }
    }

}













//MOBILE


@media screen and (max-width:400px) {
    #home {
        img {
            width: 200px !important;
        }
    }
}