@media screen and (max-width:426px) {
    .container {
        padding-inline: 25px !important;
    }

    //HOME

    #home {
        img {
            width: 300px !important;
        }
    }


    article{
        display: none !important;;
    }
    //SCORE


    #scoreD{
        flex-direction: column;
        align-items: center;
        div{
            margin-top: 40px;
        }
    }



    //ABOUT

    .bookTable {
        div {
            padding: 2.5px 20px !important;
        }
    }

    .bookTexte {
        font-size: 14px;
    }


    //MENU

    #Menu {
        .carte {
            .items {
                img {
                    width: 200px !important;
                }
            }
        }

    }

    //TESTMONIALS

    #testmonial {
        padding-inline: 20px !important;
        text-align: center;

        #contain-carousel1 {
            height: 500px;

            .flex {
                flex-direction: column !important;
                align-items: center;
            }
        }
    }


    //EVENTS

    #slider2{
        div{
            height: 450px!important;
        }
    }


    //CHEFS

    #Chefs {
        .carte-chefs {
            div {
                width: 300px !important;
                height: 480px;
            }
            ul{
                margin-top: 0!important;
            }
        }
        
    }

    //BOOK

    .contain-form {
        div:last-child {
            width: 80% !important;

            input {
                width: 80% !important;
                margin-left: 0 !important;
            }
        }
    }



    //CONTACT

    .adress{
        width: 90%!important;
        margin-inline: 0!important;
    }


    //FOOTER

    .follow {
        margin-top: 20px;
        margin-left: 0%;
        flex-wrap: wrap;
    }
}













//MOBILE


@media screen and (max-width:400px) {
    #home {
        img {
            width: 200px !important;
        }
    }



    //MIAM

    #miam{
        padding-block: 50px!important;
    }


    //TESTMONIAL

    #testmonial{
        .carou1{
            .c{
                div:first-child{
                    padding-right: 0!important;
                }
            }
        }
    }

    //EVENTS

    #slider2{
        div{
            height: 400px!important;
        }
    }


    
}






//MOBILE M

@media screen and (max-width:377px){
    //EVENTS

   #slider2{
       div{
           height: 450px!important;
       }
   }
}



//MOBILE M

@media screen and (max-width:321px){
    //EVENTS

   #slider2{
       div{
           height: 420px!important;
       }
   }
}