@media screen and (max-width:769px) {
    body{
        font-size: 1.3em;
    }
    .container {
        padding-inline: 50px;
    }

    #home {
        flex-direction: column;
        text-align: center;

        img {
            margin-top: 50px;
        }
    }



    //ABOUT

    .book {
        flex-direction: column;

        .bookTable {
            width: 100% !important;
        }

        .bookTexte {
            margin-left: 0 !important;
            text-align: center;
            margin-top: 30px;
        }
    }

    //WHY

    #why {
        flex-direction: column;

        #miam {
            width: 80%;
        }

        div {
            margin-top: 30px;
            width: 65%;
        }
    }


    //MENU

    #Menu{
      
        .carte {
        
            flex-direction: column;
            .items {
                margin-top: 30px;
                img {
    
                    width: 400px!important;
    
                }
                
              
            }
        }
    }

}