@import "./variable.scss";


#Events {
    #contain-carousel2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        #carou2 {
            overflow: hidden;
            width: 1380px;

            #slider2 {
                display: flex;
                width: 100%;
                transition: 0.2s;

                .cust:nth-child(1){
                    width: 450px;
                    height: 650px;
                    flex-shrink: 0;
                    margin-left: 0;
                    background:linear-gradient(rgba(0, 0, 0, 0.516),rgba(0, 0, 0, 0.543)), url(../../../public/img/events-1.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .cust {
                    width: 450px;
                    height: 650px;
                    flex-shrink: 0;
                    margin-left: 20px;
                    background:linear-gradient(rgba(0, 0, 0, 0.516),rgba(0, 0, 0, 0.543)), url(../../../public/img/events-1.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .priv {
                    width: 450px;
                    height: 650px;
                    flex-shrink: 0;
                    margin-left: 20px;
                    background:linear-gradient(rgba(0, 0, 0, 0.516),rgba(0, 0, 0, 0.543)), url(../../../public/img/events-2.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .birth {
                    width: 450px;
                    height: 650px;
                    flex-shrink: 0;
                    margin-left: 20px;
                    background: linear-gradient(rgba(0, 0, 0, 0.516),rgba(0, 0, 0, 0.543)), url(../../../public/img/events-3.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                div{
                    display: flex;
                    align-items: flex-end;
                   
                    div{
                      
                        ul{
                            padding: 10px;
                            color: white;
                            li:nth-child(1){
                                font-weight: bold;
                                font-size: 18px;
                            }
                            li:nth-child(2){
                                font-weight: bold;
                                font-size: 20px;
                                border-bottom: $vert solid 3px;
                                width: 10%;
                                padding-bottom: 5px;
                                margin-top: 5px;
                            }
                            li:nth-child(3){
                                margin-top: 5px;
                                color: rgb(205, 205, 205);
                            }
                        }
                    }
                }

            }
        }
    }

    .butt-carousel2 {
        margin-top: 20px;
        margin-bottom: 200px;

        button {
            width: 10px;
            height: 20px;
            border-radius: 100%;
            margin-inline: 2.10px;
            border: none;
            cursor: pointer;

            &:focus {
                background-color: $vert;
            }

        }
    }
}