@import "./variable.scss";

//SECTION HOME

#home {
    background-color: rgba(159, 159, 159, 0.21);
    padding-block: 60px;
    color: rgb(60, 60, 60);
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    

    ul li:first-child {
        font-family: "heat";
        font-size: 70px;
        font-weight: 500;
    }

    li {
        margin-top: 15px;
    }

    #buttHome {
        button:first-child {
            background-color: $vert;
            color: white;
            padding: 10px 15px;
            letter-spacing: 1px;
            border: none;
            border-radius: 20px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.153);

        }

        button:last-child {
            margin-left: 10px;
            font-weight: bold;
            border: none;
            background-color: transparent;

            i {
                color: $vert;
                border: solid 1px $vert;
                padding: 7px;
                border-radius: 100%;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
}




@media screen and (max-width:769px){
        #home{
            display: block;
            text-align: center;
            img{
                width: ;
            }
        }    
}