@import "./variable.scss";


//SECTION MENU

#Menu {
    margin-top: 70px;

    .titreMenu {
        text-align: center;

        div:first-child{
            margin-bottom: 10px;
            color: gray;
        }

        div:last-child {
            font-family: "heat";
            font-size: 35px;

            span {
                color: $vert;
            }
        }
    }

    #choix {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        div {
            margin-right: 10px;
            border-bottom: solid 2px gray;
            padding-bottom: 5px;
        }
    }

    .choixMenu {
        text-align: center;
        margin-top: 20px;
        div:nth-child(2) {
            color: $vert;
            font-weight: bold;font-size: 20px;
        }
    }

    .carte{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        .items{
            text-align: center;
            img{
                width: 200px!important;
            }
            div{
                color: gray;
                margin-top: 10px;
            }
            div:nth-child(2){
                font-size: 18px;
                font-weight: bold;
                color: black;
            }
            div:last-child{
                color: $vert;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}