@import "./variable.scss";


#Events{
    #contain-carousel2{
        display: flex;
        justify-content: center;
        #carou2{
            overflow: hidden;
            width: 630px;
            #slider2{
                display: flex;
                width: 100%;
                div{
                    width: 200px;
                    height: 300px;
                    flex-shrink: 0;
                    margin-left: 10px;
                }
                div:nth-child(even){
                    background-color: blue;
                }
            }
        }
    }
}