@import "./variable.scss";



#testmonial {
    margin-block: 70px;
    padding-inline: 350px;
    padding-block: 70px;

    background-color: $gris;

    #titre-testi {
        text-align: center;

        li:first-child {
            text-transform: uppercase;
            font-size: 11px;
            color: gray;
        }

        li:last-child {
            margin-top: 10px;
            font-size: 35px;
            font-family: "heat";

            span {
                color: $vert;
            }
        }
    }

    #contain-carousel1 {
        overflow: hidden;
        height: 300px;

        .carou1 {
            display: flex;
            width: 100%;
            height: 50px;
            transition: 0.3s;
            margin-top: 50px;


            .c {

                width: 100%;
                flex-shrink: 0;

                .b {
                    border-left: solid 3px $vert;
                    padding-left: 15px;

                }

                div:first-child {
                    width: 70%;
                    padding-right: 100px;
                }

                ul {
                    li{
                       margin-top: 10px;
                    }
                    li:nth-child(3){
                        margin-top: 0px;
                    }
                }

                ul {
                    li:first-child {
                        font-style: italic;
                        font-size: 15px;

                    }
                }
                img{
                    border-radius: 50%;border: solid 4px white;
                }

            }

        }
    }

    .buttonCarou {
        display: flex;
        justify-content: center;
        button{
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: none;
            background-color: rgb(205, 205, 205);
            margin-left: 5px;
            cursor: pointer;
            &:focus{
                background-color: $vert;
            }
        }
    }

}