@import "./variable.scss";


#testmonial{
    margin-bottom: 200px;
    padding-inline: 280px;
    
    .carou1{
        display: flex;
        width: 600px;
        height: 50px;
        justify-content: start;
        
        
        div{
            width: 600px;
            flex-shrink: 0;
        }
        div:nth-child(even){
            background-color: red;
        }
    }
    .buttonCarou{
        display: flex;
        justify-content: center;
    }
  
}
