
//SECTION HOME

#home {
    background-color: rgba(159, 159, 159, 0.21);
    padding-block: 60px;
    color: rgb(60, 60, 60);
    display: flex;
    justify-content: space-between;

    ul li:first-child {
        font-family: "heat";
        font-size: 70px;
        font-weight: 500;
    }

    li {
        margin-top: 15px;
    }

    #buttHome {
        button:first-child {
            background-color: rgb(96, 218, 165);
            color: white;
            padding: 10px 15px;
            letter-spacing: 1px;
            border: none;
            border-radius: 20px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.153);

        }

        button:last-child {
            margin-left: 10px;
            font-weight: bold;
            border: none;
            background-color: transparent;

            i {
                color: rgb(96, 218, 165);
                border: solid 1px rgb(96, 218, 165);
                padding: 7px;
                border-radius: 100%;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
}


