@import "./variable.scss";


#bas-contact{
    display: flex;
    justify-content: center;
    width: 100%;
    .adress{
        display: flex;
        margin-right: 15px;
        width: 100%;
        margin-top: 15px;
        background-color: $gris;
        padding: 20px;
        i{
            color: white;
            background-color: $vert;
            border-radius: 50%;
            padding: 10px;
        }
        ul{
            margin: 0;
            li:nth-child(1){
                font-size: 16px;
                font-weight: bold;
            }
            li{
             
                margin-left: 15px;
            }
        }

        
    }
    .adress:nth-child(2){
        margin-right: 0;
    }
}