@import "./variable.scss";

//SECTION WHY

#why {
    padding-block: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(159, 159, 159, 0.21);
    font-size: 14px;

    #miam {
        width: 50%;
        height: 250px;
        background-color: $vert;
        color: white;
        padding: 20px;
        text-align: left;
        margin-left: 0;

        ul li:first-child {
            font-weight: bold;
            font-size: 30px;
        }

        li {
            margin-top: 10px;
        }

        button {
            padding: 10px 15px;
            background-color: rgba(255, 255, 255, 0.281);
            border: none;
            color: white;
            border-radius: 20px;

        }


    }

    div {
        background-color: white;
        padding: 15px;
        text-align: center;
        margin-left: 20px;
        display: flex;
        align-items: center;
        height: 245px;
        width: 35%;
        transition: 0.2s;

        ul {
            li {
                margin-top: 25px;

                i {
                    background-color: rgba(254, 86, 86, 0.119);
                    padding: 20px;
                    border-radius: 50%;
                    color: $vert;
                }
            }

            li:nth-child(2) {
                font-weight: bold;
            }

            li:last-child {
                font-size: 12px;
            }
        }

        &:hover {
            transform: scale(1.07);
        }

    }
}







//SECTION STAT

#score {
    background: url(../../public/img/stats-bg.jpg);
    width: 100%;
    background-attachment: fixed;

    #scoreD {
        width: 100%;
        backdrop-filter: brightness(50%);
        display: flex;
        justify-content: space-around;
        color: white;
        padding-block: 100px;

        div {
            ul {
                text-align: center;

                li:first-child {
                    font-weight: bold;
                    font-size: 30px;
                }

                li:last-child {
                    font-weight: 200;
                    color: rgb(214, 214, 214);
                }
            }

        }
    }



}


