@font-face {
    font-family: "heat";
    src: url(../../public/font/CookiesandmilkRegular-W64Y.ttf);
}


//variable
$vert : rgb(112, 221, 196);
$gris : rgba(159, 159, 159, 0.21);


//
.upp {
    text-transform: uppercase;
}

.vert {
    color: $vert!important;
}

.gris {
    color: gray;
}

.f1 {
    font-size: 11px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.jc {
    justify-content: center;
}

.red {
    color: red;
}

.jaune {
    color: rgb(255, 217, 0);
}

.heat{
    font-family: "heat";
}


.f2{
    font-size: 35px;
}

.mt{
    margin-top: 10px;
}

.bd{
    font-weight: bold;
}