@font-face {
    font-family: "heat";
    src: url(../../public/font/CookiesandmilkRegular-W64Y.ttf);
}

//variable
$vert : rgb(96, 218, 165);
//HEADER

.container {
    padding-inline: 150px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: unset;
}


nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-child {
        font-weight: bold;
        font-size: 20px;

        span {
            color: rgb(96, 218, 165);
            ;
        }
    }

    ul {
        display: flex;
        font-weight: bold;
        color: gray;

        li:first-child {
            color: black;
            border-bottom: solid 3px rgb(96, 218, 165);
        }

        li {
            margin-left: 20px;
            padding-bottom: 5px;
        }

    }

    button {
        background-color: rgb(96, 218, 165);
        color: white;
        padding: 10px 15px;
        letter-spacing: 1px;
        border: none;
        border-radius: 20px;
    }
}

//SECTION HOME

#home {
    background-color: rgba(159, 159, 159, 0.21);
    padding-block: 60px;
    color: rgb(60, 60, 60);
    display: flex;
    justify-content: space-between;

    ul li:first-child {
        font-family: "heat";
        font-size: 70px;
        font-weight: 500;
    }

    li {
        margin-top: 15px;
    }

    #buttHome {
        button:first-child {
            background-color: rgb(96, 218, 165);
            color: white;
            padding: 10px 15px;
            letter-spacing: 1px;
            border: none;
            border-radius: 20px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.153);

        }

        button:last-child {
            margin-left: 10px;
            font-weight: bold;
            border: none;
            background-color: transparent;

            i {
                color: rgb(96, 218, 165);
                border: solid 1px rgb(96, 218, 165);
                padding: 7px;
                border-radius: 100%;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
}


#About {
    padding-top: 50px;

    .titre {
        text-align: center;

        li:first-child {
            color: gray;
            font-size: 11px;
            margin-bottom: 5px;
        }

        li:last-child {
            font-family: "heat";
            font-size: 25px;

            span {
                color: rgb(96, 218, 165);
            }
        }
    }

    .book {
        display: flex;

        .bookTable {
            background: url(../../public/img/about.jpg);
            width: 160%;
            height: 500px;
            div{
                background-color: white;
                padding: 10px 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                ul {
                    text-align: center;
                    li:last-child{
                    color: $vert;
                    margin-top: 5px;
                    font-size: 19px;
                }
            }
            }

          
        }

        .bookTexte {
            margin-left: 50px;

            i {
                color: $vert;
            }
        }
    }

}

#m{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
    height: 100%;
}