@import "../scss/modules/_header.scss";

@font-face {
    font-family: "heat";
    src: url(../../public/font/CookiesandmilkRegular-W64Y.ttf);
}

body {
    font-family: monospace;

}

//variable
$vert : rgb(112, 221, 196);

